
$text-color-primary-light-ui: $md-gray-100;
$text-color-secondary-light-ui: $md-gray-70;
$text-color-disabled-light-ui: $md-gray-40;
$text-color-hyperlink-light-ui: $md-blue-60;
$text-color-hyperlink-hover-light-ui: $md-blue-60;

$text-color-primary-dark-ui: $md-gray-05;
$text-color-secondary-dark-ui: $md-gray-40;
$text-color-disabled-dark-ui: $md-gray-70;
$text-color-hyperlink-dark-ui: $md-blue-40;
$text-color-hyperlink-hover-dark-ui: $md-blue-40;


$background-primary-lightUi: #FFFFFF;
$background-primary-darkUi: #0F0F0F;

$textColor-error-lightUi: $md-red-60;
$textColor-error-darkUi: $md-red-40;

